<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdl.mapper.ds1.ApiBlkEacBalMapper">

    <insert id="insertTestData" >
        insert into apiblkeac_bal_gen (fscbthnbr,eacnbr,balamt,ccynbr) VALUES ('01','001',0,'008')
    </insert>
</mapper>